<div class="loginContainer">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <div class="avatarFrameOffline marTop15 marBot15">
                    <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="center">
                    <h3>Iniciar Sesión</h3>
                </div>
                <p *ngIf="operation == 'register'">¿Ya tienes cuenta? Haz <a (click)="operation = 'login'" style="cursor: pointer">Login</a></p>
                <p *ngIf="operation == 'login'">¿No tienes cuenta? Haz <a (click)="operation = 'register'" style="cursor: pointer">Regístrate</a></p>
                <div class="borderedContainer">
                    <input [(ngModel)]="email" class="form-control marBot15" type="email" placeholder="Ingrese Email">
                    <input [(ngModel)]="pass" class="form-control marBot15" type="password" placeholder="Ingrese Password">
                    <input [(ngModel)]="nick" *ngIf="operation == 'register'" class="form-control marBot15" type="text" placeholder="Ingrese Nick">
                </div>

                <div class="center marTop15">
                    <a (click)="login()" *ngIf="operation == 'login'" class="btn btn-primary">Iniciar Sesión</a>
                    <a (click)="register()" *ngIf="operation == 'register'" class="btn btn-primary">Registrarme</a>
                </div>
            </div>
        </div>
    </div>
</div>
