<div id="menuContainer">
    <div class="item branding" [routerLink]="['home']">
        <img id="main-logo" src="assets/img/logo_live.png" alt="Logo de Platzinger"> Platzinger
    </div>
    <div class="item" [routerLink]="['profile']">
        Profile
    </div>
</div>

<!-- <i class="fab fa-accessible-icon"> * </i> -->