#menuContainer {
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 56px;
    top: 0px;
    border-top: 1px solid #fff;
    background: rgba(147, 206, 222, 1);
    background: -moz-linear-gradient(top, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 42%, rgba(22, 139, 171, 1) 56%, rgba(15, 111, 138, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(42%, rgba(73, 165, 191, 1)), color-stop(56%, rgba(22, 139, 171, 1)), color-stop(100%, rgba(15, 111, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 42%, rgba(22, 139, 171, 1) 56%, rgba(15, 111, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 42%, rgba(22, 139, 171, 1) 56%, rgba(15, 111, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 42%, rgba(22, 139, 171, 1) 56%, rgba(15, 111, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 42%, rgba(22, 139, 171, 1) 56%, rgba(15, 111, 138, 1) 100%);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(94, 94, 94, 1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(94, 94, 94, 1);
    box-shadow: 0px 2px 3px 1px rgba(94, 94, 94, 1);
    #main-logo {
        width: 40px;
    }
    .branding {
        padding: 5px !important;
        border-top: none !important;
        border-right: none !important;
    }
    .item {
        padding: 15px;
        color: #fff;
        cursor: default;
        border: 1px solid #fff;
        display: inline-block
    }
}
