<div class="conversationContainer bluewhitebg" [ngClass]="{'shaker': shake}">
  <div class="row">
    <div class="col-sm-3 maxwi300">
      <div id="conversationSidebar">
        <div class="vh30">
          <div class="avatarFrameOnline">
            <img src="{{'assets/img/generic_avatar.png'}}" class="avatarImage img-fluid">
          </div>
        </div>
        <div class="vh30"></div>
        <div class="vh25">
          <div class="avatarFrameOnline">
            <img src="{{'assets/img/generic_avatar.png'}}" class="avatarImage img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <br />
      <span class="friendName">Amigo 1</span> (online)
      <hr />
      <div class="vh55 overscroll pabo10" id="messageArea">

        <div class="messageGroup" *ngFor="let m of conversation">
          <div *ngIf="user.uid === m.receiver" style="text-align: end">
            <b>{{getUserNickById(m.sender)}}</b> dice: <br />
            <span *ngIf="m.type === 'text'">{{m.text}}</span>
            <span *ngIf="m.type === 'zumbido'">
              te ha enviado un Zumbido!
            </span>
            <img *ngIf="m.type === 'image'" src="{{m.text}}" alt="">
          </div>

          <div *ngIf="user.uid === m.sender">
            <b>{{getUserNickById(m.sender)}}</b> dice: <br />
            <span *ngIf="m.type === 'text'">{{m.text}}</span>
            <img *ngIf="m.type === 'image'" src="{{m.text}}" alt="">
          </div>
        </div>

      </div>
      <div class="messageControlsContainer">
        <textarea [(ngModel)]="textMessage" (keyup.enter)="sendMessage()" class="form-control" cols="30"
          rows="5"></textarea>
        <div id="messageToolBar">
          <div class="item">
            <img src="assets/img/icons/regular_smile.gif" class="tool">
            <i name="caret-down"></i>
          </div>
          <div class="item">
            <img src="assets/img/icons/wink_smile.gif" class="tool">
            <i name="caret-down"></i>
          </div>
          <div class="item" (click)="sendZumbido()">
            <img src="assets/img/zumbido.png" class="tool">
          </div>
          <a (click)="open(content)" class="fas fa-images"></a>
        </div>
      </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Recortar y Enviar Imagen</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-auto">
            <label class="custom-file-upload mr-5">
              <input type="file" (change)="fileChangeEvent($event)" />
            </label>

            <img [src]="croppedImage || 'assets/img/generic_avatar.png' " class="avatarImage img-fluid" />
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
              [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sendImage(); modal.close('Save click') ">Enviar
          Imagen</button>
      </div>
    </ng-template>
  </div>
</div>
