<div id="profileContainer">
  <div class="container padTop45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatarFrameOnline" *ngIf="user">
          <img [src]="croppedImage || user.avatar || '/assets/img/generic_avatar.png'" alt=""
            class="avatarImage img-fluid">
        </div>
        <hr>
        <div>
          <span>Cambiar Foto</span><br />
          <div class="upload-btn-wrapper">
            <button class="btn">Subir Avatar!</button>
            <input type="file" name="myfile" (change)="fileChangeEvent($event)" />
          </div>
          <!-- <label for="">
            <input type="file" (change)="fileChangeEvent($event)">
            Subir Avatar!
          </label> -->
        </div>
      </div>

      <div *ngIf="user" class="col-md-9">

        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
          [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>

        <div>
          <label fixed>Nick</label>
          <input [(ngModel)]="user.nick" type="text" class="form-control">
        </div>
        <div>
          <label fixed>Subnick</label>
          <input [(ngModel)]="user.subnick" type="text" class="form-control">
        </div>
        <div>
          <label fixed>Email</label>
          <input [(ngModel)]="user.email" type="email" class="form-control">
        </div>
        <div>
          <label fixed>Status</label>
          <select [(ngModel)]="user.status" class="form-control">
            <option value="online">Conectado</option>
            <option value="away">Ausente</option>
            <option value="busy">Ocupado</option>
            <option value="appear_offline">Desconectado</option>
          </select>
        </div>
        <hr>
        <a (click)="saveSettings()" class="btn btn-primary btn-block" style="cursor: pointer">Guardar</a>
      </div>
    </div>
  </div>
</div>
