#profileContainer {
    background-image: url('/assets/img/msnbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;

      .btn {
        background: rgb(1, 126, 126);
        background: linear-gradient(0deg, rgba(1, 126, 126, 1) 0%, rgba(0, 152, 140, 1) 33%, rgba(4, 196, 197, 1) 66%, rgba(208, 255, 251, 1) 100%);
        display: inline-block;
        padding: 6px 12px;
        border: 1px solid #8dd2f3;
      }
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
}
