/* You can add global styles to this file, and also import other style files */

.avatarFrameOffline {
    background: rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 49%, rgba(209, 209, 209, 1) 56%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(49%, rgba(219, 219, 219, 1)), color-stop(56%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 49%, rgba(209, 209, 209, 1) 56%, rgba(254, 254, 254, 1) 100%);
    background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 49%, rgba(209, 209, 209, 1) 56%, rgba(254, 254, 254, 1) 100%);
    background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 49%, rgba(209, 209, 209, 1) 56%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 49%, rgba(209, 209, 209, 1) 56%, rgba(254, 254, 254, 1) 100%);
    -webkit-box-shadow: 0px 9px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 5px -4px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    order: 1px solid #fff;
    display: inline-block;
}

.avatarFrameOnline {
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 240, 120, 1)), color-stop(43%, rgba(0, 250, 125, 1)), color-stop(61%, rgba(0, 219, 110, 1)), color-stop(100%, rgba(0, 156, 73, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 240, 120, 1) 0%, rgba(0, 250, 125, 1) 43%, rgba(0, 219, 110, 1) 61%, rgba(0, 156, 73, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 240, 120, 1) 0%, rgba(0, 250, 125, 1) 43%, rgba(0, 219, 110, 1) 61%, rgba(0, 156, 73, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 240, 120, 1) 0%, rgba(0, 250, 125, 1) 43%, rgba(0, 219, 110, 1) 61%, rgba(0, 156, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 240, 120, 1) 0%, rgba(0, 250, 125, 1) 43%, rgba(0, 219, 110, 1) 61%, rgba(0, 156, 73, 1) 100%);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    order: 1px solid #fff;
    display: inline-block;
}

.center {
    text-align: center !important;
}

.marTop15 {
    margin-top: 15px !important;
}

.padTop45 {
    padding-top: 45px !important;
}

.marBot15 {
    margin-bottom: 15px !important;
}

.marBot5 {
    margin-bottom: 5px;
}

.generalContent {
    margin-top: 56px;
}

#homeAvatarPicture {
    max-width: 100px;
}

.dispBlock {
    display: block !important;
}

.shaker {
  animation: shake .5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

// input[type="file"] {
//     display: none;
// }

// .custom-file-upload {
//     background: rgb(1, 126, 126);
//     background: linear-gradient(0deg, rgba(1, 126, 126, 1) 0%, rgba(0, 152, 140, 1) 33%, rgba(4, 196, 197, 1) 66%, rgba(208, 255, 251, 1) 100%);
//     display: inline-block;
//     padding: 6px 12px;
//     cursor: pointer;
//     border: 1px solid #8dd2f3;
// }
