<div id="homeContainer">
  <div id="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline" *ngIf="user">
            <img [src]="user.avatar || '/assets/img/generic_avatar.png'" id="homeAvatarPicture" alt="">
          </div>
        </div>

        <div class="col">
          <b>Eduardo</b>
          <div>
            <span>OnLine</span>
            <br />
            <span> ~ Escribe un mensaje personal... ~ </span>
            <br />
            <a (click)="logout()" class="btn btn-primary" style="cursor: pointer">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Buscar amigo..." [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img src="/assets/img/logo_live_add.png" class="icon" (click)="open(content)" alt="">
      </div>
    </div>
    <hr>
    <b *ngIf="user && user.friends">Amigos ({{user.friends.length}} / {{user.friends.length}})</b>
    <div *ngIf="user && user.friends">

      <div *ngFor="let user of user.friends | search: query; let i = index" class="dispBlock marBot5">
        <div>{{user}}</div>
        <!-- <span routerLink="/conversation/{{user.uid}}">
          <img (click)="open(content)" src="/assets/img/logo_live_online.png" class="icon">
          <b>{{ user.nick }}</b> - {{ user.subnick || 'No'}}
          <small>{{user.email}}</small>
        </span> -->
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Amigo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <b>Ingresa email de tu amigo</b>
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="friendEmail"
        (keyup.enter)="sendRequest()">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
  </div>
</ng-template>
