#homeContainer {
    background-image: url('/assets/img/msnbg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    #whiteBorderGlassBox {
        border: 2px solid rgba(255, 255, 255, .75);
        // padding: 4px;
        .homeHeadContainer {
            border-radius: 15px;
            background-color: rgba(255, 255, 255, .50);
        }
    }
    .whiteContainerPadded {
        padding: 15px;
        background-color: #feffff;
    }
}

img.icon {
    width: 30px;
}
